@import "../../../../scss/partials/rem";
@import "../../../../scss/partials/variables";

.user-password {
  width: 100%;
  padding: rem(56px 10px 0);

  &__heading {
    display: none;
  }

  &__btn {
    width: 100%;
    margin-top: rem(17px);
  }

  @media screen and (min-width: $tablet) {
    padding: rem(56px 35px 0);

    &__btn {
      width: rem(310px);
    }
  }

  @media screen and (min-width: $desktop) {
    width: rem(680px);
    padding: 0;
    margin-left: rem(7px);

    &__heading {
      display: inherit;
      margin-bottom: rem(34px);
      font-family: roboto-slab;
      font-size: rem(24px);
      font-weight: 700;
      color: $dark2;
    }
  }
}
