    <img [src]="image.url" class="img__gallery" alt="Image name">
    <div class="picture__info">
      <div class="picture__info-user">
        <img src="assets/images/avatar.jpg" alt="user-photo" height="35px" width="35px" class="pic-user pic-user--sm">
        <div class="info-group">
        <p class="name name--user">Kelsey Kurtis</p>
        <p class="name name--picture">Canadian forest</p>
        </div>
      </div>
      <svg class=" svg--zoom" height="20" width="20" alt="zoom">
        <use xlink:href="/assets/sprite.svg#zoom"></use>
      </svg>
      <div class="group-btn">
        <button class="btn--img" type="button">
          <svg height="18" width="18" class="svg--add" alt="add">
            <use xlink:href="/assets/sprite.svg#add"></use>
          </svg>
        </button>
        <button class="btn--img" type="button">
          <svg height="18" width="18" class="svg--heart" alt="heart">
            <use xlink:href="/assets/sprite.svg#heart"></use>
          </svg>
        </button>
        <button class="btn--img" type="button">
          <svg height="18" width="21" class="svg--download" alt="download">
            <use xlink:href="/assets/sprite.svg#download"></use>
          </svg>
        </button>
      </div>
    </div>
