<article>
  <form class="user">
    <h3 class="user__heading">Change password</h3>
    <p class="user__text"><span class="user__text--warning">Warning:</span> closing your account is irreversible. It deletes all of your data.</p>
    <div class="form-group">
      <label for="userPassword" class="form-group__label">Current password</label>
      <input type="password" id="userPassword" class="form-group__control form-group__control--profile">
    </div>
    <button type="submit" class="btn btn--danger user__btn">Delete account</button>
  </form>
</article>
