@import '../../../../scss/partials/rem';
@import '../../../../scss/partials/variables';


.gallery{
  display: grid;
  padding: rem(10px);
  width: 100%;
  grid-auto-rows: rem(156px);
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(10px);
  grid-auto-flow: dense;

}

@media screen and (min-width: 768px) {

  .gallery{
    grid-auto-rows: rem(144px);
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (min-width: 1024px) {
  .gallery{
    grid-template-columns: repeat(6, 1fr);
  }

}

