@import "../../../../scss/partials/variables";

a {
  color: $grey5;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.home-menu {
  overflow: hidden;
  position: relative;

  &__slider {
    overflow: hidden !important;
    display: flex;
    align-content: center;
    height: 50px;

    &::after {
      content: '';
      width: 80px;
      height: 100%;
      position: absolute;
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.2612395299916842) 0%, rgba(255, 255, 255, 1) 100%);
    }

  }


  &__item {
    display: flex;
    align-items: center;
    margin: 0 8px 0 29px;
    flex: 0 0 auto;

    &:first-of-type .home-menu__link {
      padding-right: 29px;
      border-right: 1px solid $grey2;
    }

    &:last-of-type .home-menu__link {
      margin-right: 60px;
    }
  }

  &__text {
    padding-bottom: 14px;
    padding-top: 14px;
  }

  &__link {
    &:hover .home-menu__text {
      color: $dark2;
      font-weight: 500;
      border-bottom: 3px solid $color-submit;
    }
  }
}

.active {
  color: $dark2;
  font-weight: 500;
  border-bottom: 3px solid $color-submit;
  background-color: yellow;
}
